body {
	font-family: Arial;
	
	background-color: grey;
	height:100%;
	}

	
article {
	float: center;
}

div.todo {
	
	float: right;
	padding: 0%;
	width: 80%;
	height:100%;
}

div.h1 {
	text-align: center;
	float: center;
}

div.logo {
	float: left;
}


section {
	
	text-align: left;
	float: center-right;
	
	;
}
	
}
ul,
li {
	width: 20% ;
	height: 100%;
}
nav {
	
	height: 666px;
	float: clear;
	width: 20%;
	text-align: left;
	
	
}
}
footer {
	float:clear;
	text-align: center;
    width: 100%;
    display: block;
    bottom: 0px;
   
}


img {
	padding: 10px;
	width: 50px; 
	height: 50px;
}

img.imagen {
	opacity: 0.6;
}



div.acolchados {
	vertical-align: top;
    display: inline-block;
    text-align: center;
	width: 20%;
}

div.autos {
	vertical-align: top;
    display: inline-block;
    text-align: center;
	
	width:20%;
	}
div.prendas {
	vertical-align: top;
    display: inline-block;
    text-align: center;
	width:20%;
	}
	
div.vasos {
    vertical-align: top;
    display: inline-block;
    text-align: center;
	width:20%;
	
}




